




.menu-link:nth-child(2), .menu-link:hover {
    color: #2684F7;
}

.block {
  
    justify-content: start;
  }

.basket {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: #fff;
    margin-bottom: 320px;
    margin-left: 90%;
    border-radius: 20px;
    


    display: none;
    justify-content: center;
    align-items: center;
}
.trash {
    fill: #2684F7;   /* ??? */
    width: 45px;
    height: 45px;
}



.rectangle {
    width: 23.13%;
    height:100%;
    background-color: #fff;
    border-radius: 41px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.rectangle:hover {
    background-color: #2684F7;
    z-index: 1;
}

.rectangle:hover>.basket {
 display: flex;
}



.group {
    width: 95%;
    height: 325px;

    display: flex;
    justify-content: space-between;
    font-weight: 600;

    
}
img {
    border-radius: 100px;
    height: 100px;
    width: 100px;
}

.group:nth-child(2) {
    margin-top: 23px;
    
} 

.andy-cube, .date {
    font-size: 20px;
}

.date, .logos {
    color: #C5C5C5;
}




@media (max-width: 1080px) {
    .group {height: 250px;}
    img { height: 80px; width: 80px;}
    .andy-cube, .date { font-size: 15px;}
    .basket{ width: 65px;height: 65px;margin-bottom: 250px;}
    .trash { width: 37px;height: 37px;}
    .rectangle { border-radius: 30px;}
   }

   @media (max-width: 880px) {
    .group {height: 200px;}
    img { height: 60px; width: 60px;}
    .andy-cube, .date { font-size: 13px;}
    .basket{width: 58px;height: 58px;margin-bottom: 200px;}
    .trash { width: 32px;height: 32px;}
    .rectangle { border-radius: 20px;}
   }
   
   




