
.element {
    width: 500px;
    height: 300px;
    margin: 0 auto;
}



.element:nth-child(1) {
background-color: rgb(65, 230, 241);
outline: 3px dashed red;
}


.element:nth-child(2){
    background-color:yellow;
    outline: 3px dotted red;
    margin-top: 50px;
}


.element:nth-child(3){
    background-color: rgb(65, 230, 241);
    outline: 40px inset rgb(0, 26, 255);
    margin-top: 90px;
}


.element:nth-child(4){
    background-color: rgb(65, 230, 241);
    border-left: 20px solid rgb(0, 0, 0);
    margin-top: 90px;
}