

.menu-link:nth-child(3), .menu-link:hover {
    color: #2684F7;
}


.block {
    padding-top: 122px;
    padding-right: 89px;
    padding-left: 89px;
    padding-bottom: 112px;
}



.top {
    width: 852px;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 38px;

}
.title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    outline: 0;
}


.container__table {
    position: absolute;

    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.row {
    display: flex;
   
    justify-content: center;
    align-items: center;
}

.download-box {
    width: 35px;
    height: 35px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 11px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.download-box:hover {
    background: #2684F7;
}

.picture-box {
    height: 25px;
    width: 25px;
}

tr {
    width: 1100px;
    height: 64px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;

    border-radius: 21px; 
  
}

tr:hover {
    background-color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

th {
  
    width: 28%; 
}


.container__download-box {
    width: 300px;
 
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"] {
    width: 35px;
    height: 35px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 15px;
}

@media (max-width: 1180px) {
    tr {width: 900px;}
    .container__download-box {width: 240px;}
}

@media (max-width: 990px) {
   .title { font-size: 20px;}
   tr {width: 700px;height: 40px;border-radius: 10px;}
   .container__download-box { width: 180px;}
   input[type="checkbox"] {width: 30px;height: 30px;}
   .download-box {width: 30px;height: 30px;}
   .picture-box {height: 20px;width: 20px;}

    @media (max-width: 760px) {
        .title { font-size: 15px;}
        tr {width: 600px;height: 35px;border-radius: 8px;}
        .container__download-box { width: 180px;}
        input[type="checkbox"], .download-box {width: 25px;height: 25px;border-radius: 8px;}
        .picture-box {height: 15px;width: 15px;}
    }