

.menu-link:nth-child(1), .menu-link:hover {
    color: #2684F7;
}



.block {
  flex-direction: row;
  padding-top: 0;
}

.content {
    width: 87.5%;
}


.side__box:nth-child(1), .side__box:hover {
    background-color: #2785F7;
    
}


.content__start {
    display: flex;
}

.content__start-project {
    width: 47%;
    height: 130px;
    background-color: #fff;

    padding-top: 30px;
    box-sizing: border-box;
    border-radius: 30px;
    margin-right: 2%;
   
    
}

.content__start-company {
    width: 47%;
    height: 130px;
    background-color: #fff;

    padding-top: 30px;
    box-sizing: border-box;
    border-radius: 30px;
}



.content__end {
    margin-top: 34px;

    display: flex;
    
}


.content__section {
    margin-right: 2%;

    width: 59.5%;
    display: flex;
    flex-direction: column;
}

.content__section-description {
    /* width: 732px; */
    height: 194px;
    background-color: #fff;

    padding-top: 30px;
    box-sizing: border-box;
    margin-bottom: 22px;
    border-radius: 30px;
    padding-right: 15px;
}

.content__section-team {
    /* width: 732px; */
    height: 194px;
    background-color: #fff;

    padding-top: 30px;
    box-sizing: border-box;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 15px;
}

.content__dataPortability {
    width: 33%;
    height: 410px;
    background-color: #fff;

    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
}





.title{
    margin:0;
    margin-left: 40px;
    font-weight: bold;
    font-size: 24px;
    color: #000;
}

.subtitle {
    margin: 0;
    margin-left: 40px; 
    font-weight: bold;
    font-size: 18px;
    color: #B1B1B1;
}

.picture-data {
    width: 120px;
    height: 115px;
    margin-left: 40px;

}

.picture-team {
    width: 120px;
    height: 138px;
    margin-left: 40px;
}

.title-team {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    color: #000;
    margin-top: 30px;
}

@media (max-width: 1080px) {
    .content__start-project, .content__start-company { height: 100px;}
    .subtitle { font-size: 14px;}
    .title,  .title-team {font-size: 20px;}
    .content__section-description, .content__section-team {height: 174px;}
    .picture-team {width: 100px;height: 118px;}
    .content__dataPortability { height: 370px;}
    .content__end { margin-top: 30px;}
   }

   @media (max-width: 880px) {
    .content__start-project, .content__start-company { height: 80px;padding-top: 20px;}
    .subtitle { font-size: 12px;}
    .title, .title-team {font-size: 18px;}
    .content__section-description, .content__section-team {height: 154px;}
    .picture-team {width: 80px;height: 98px;}
    .content__dataPortability { height: 330px;}
    .content__end { margin-top: 20px;}
    .picture-data {width: 100px;height: 95px;}
   }
   
   
