

.menu-link:nth-child(1), .menu-link:hover {
    color: #2684F7;
}



.block {
    flex-direction: row;
    padding-top: 0;
}




.side__box:nth-child(2), .side__box:hover {
    background-color: #2785F7;
    
}



p {
    margin-top: 0;
    margin-bottom: 0;
}



.content-start {
    width: 42%;
    height: 679px;
    margin-right: 2%;
 
}
.andy-cube {
    background-color: #fff;
    border-radius: 30px;
    height: 21%;

    padding-left: 44px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
}

.box {
    width: 65px;
    height: 65px;

    
    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    background: #F24F5E;
    margin-right: 60px;
}

.profile-picture-box__name {
    color: #fff;
    font-size: 39px;
    font-weight: 700;
}
.title {
    font-weight: bold;
    font-size: 25px;
    color: #000;
    line-height: 1;
    width: 300px;
}
.subtitle {
    font-weight: bold;
    font-size: 15px;
    line-height: 1;

color: #B1B1B1;
}
.change-password {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 30px;
    height: 76%;

    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 25px;
    padding-top: 30px;
    box-sizing: border-box;
    

    display: flex;
   justify-content: space-between;
    flex-direction: column;
    
}
.padlock {
    background: #2785F7;
    margin-right: 60px;
    
}
.padlock-svg {
    width: 40px;
    height: 40px;
    filter: invert(1);
}


.password {
    width: 100%;
    height: 55px;
}

.header-password {
display: flex;
margin-bottom: 20px;

} 



.company {
    width: 42%;
    height: 679px;
    background-color: #fff;

    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 25px;
    padding-top: 40px;
    box-sizing: border-box;
    
    border-radius: 30px;
    margin-right: 2%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}




.company-name {
    width: 100%;
    height: 55px;
}
.company-addres {
    width: 100%;
    height: 100px;
}
.container-textarea {
    display: flex;
    flex-wrap: wrap;
    
}
.textarea_text {
   
    width: 48%;
    padding-right: 2%;
}



.company-data {
    
    width: 100%;
    height: 55px;
}

input {
    
    border: 2px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 21px;
    font-family: 'Open Sans', sans-serif;
    color: #B1B1B1;
    padding-left: 15px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 8px;
}

input:focus {
    border: 3px solid #2785F7;;
    outline: 0;
    
  }

  .save {
    height: 55px;
    width: 30%;
    margin-left: 70%;
    
    background-color: #2785F7;
    color: #fff;
    border: 0;
    padding: 0;
    font-size: 20px;
  
  }

  label {
    font-weight: bold;
    font-size: 16px;
  }








@media (max-width: 1400px) {
    .padlock {margin-right: 40px;}
    .change-password { padding-right: 33px;}
}

@media (max-width: 1200px) {
    .padlock,.profile-picture {margin-right: 35px;width: 55px;height: 55px;}
    .change-password, .company, .andy-cube { padding-right: 30px;padding-left: 30px;}
}

@media (max-width: 1080px) {
    .padlock,.profile-picture {margin-right: 60px;width: 65px;height: 65px;}
    .change-password { padding-left: 44px;padding-right: 44px;}
    .side { position: absolute;width: 7%;margin-right: 84%;margin-bottom: 880px;}
    .block { flex-direction: column;height: 1500px;}
    .content-start, .company {width: 79%;margin-left: 8%;margin-right: 0;}
    .company { margin-top: 30px;}

@media (max-width: 880px) {
    .side {margin-bottom: 980px;margin-right: 83.5%;}
    .content-start, .company {margin-left: 10%;}
   
   }
   
   













